.productsWrapper {
  padding-left: var(--space-product);
}
.swiper-pagination {
  position: relative;
  top: 50px;
  padding-bottom: 5px;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: var(--color-gray-line);
  background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  color: var(--color-black);
  background: #fff;
}
.swiper-slide-item {
  display: inline-block;
  width: calc((100vw - 80px) / 3);
  height: auto;
  box-sizing: border-box;
}
.swipeItem-image {
  --space-product: 10px;
}
.viewMore {
  margin-left: var(--space-product);
}
@media screen and (min-width: 900px) {
  .productsWrapper {
    padding-left: 20px;
  }
  .swiper-slide-item {
    width: calc((100vw - 40px) / 4);
  }
}